@import "tailwindcss";

.table-default {
  @apply overflow-auto;
  table { @apply min-w-full divide-y divide-gray-300; }

  thead {
    th { @apply p-4 text-left text-sm font-semibold text-gray-900; }
    th:first-child { @apply p-4 text-left text-sm font-semibold text-gray-900; }
    th:last-child { @apply relative p-4; }
    th.actions { @apply sticky right-0 bg-gray-50 p-4 text-center; }
  }

  tbody {
    @apply divide-y divide-gray-200;

    tr:last-child { @apply border-b-0; }
    tr:last-child td { @apply border-b-0; }
    td { @apply whitespace-nowrap p-4 text-sm text-gray-900; }
    td:first-child { @apply p-4 text-sm font-medium whitespace-nowrap text-gray-900; }
    td:last-child { @apply p-4 text-right text-sm font-medium whitespace-nowrap; }
    td.actions { @apply sticky right-0 bg-gray-50 p-4 text-center; }

    tr:hover {
      td { @apply bg-gray-100; }
      td.actions { @apply bg-gray-200; }
    }
  }
}

.alert-info {
  @apply rounded-md bg-indigo-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-indigo-700; }
}

.alert-warning {
  @apply rounded-md bg-yellow-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-yellow-700; }
}

.alert-success {
  @apply rounded-md bg-green-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-green-700; }
}

.alert-danger {
  @apply rounded-md bg-red-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-red-700; }
}

.button {
  @apply inline-flex items-center cursor-pointer justify-center rounded-md px-2.5 py-1.5 text-sm font-semibold shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 dark:shadow-none;

  &.button-primary { @apply text-white bg-indigo-600 hover:bg-indigo-500 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-500; }
  &.button-danger { @apply text-white bg-red-600 hover:bg-red-500 focus-visible:outline-red-600 dark:bg-red-500 dark:hover:bg-red-400 dark:focus-visible:outline-red-500; }
  &.button-secondary { @apply rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20; }
}

.alert-info {
  @apply rounded-md bg-indigo-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-indigo-700; }
}

.alert-warning {
  @apply rounded-md bg-yellow-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-yellow-700; }
}

.alert-success {
  @apply rounded-md bg-green-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-green-700; }
}

.alert-danger {
  @apply rounded-md bg-red-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-red-700; }
}

.calendar {
  @apply flex flex-col flex-grow gap-1;

  .days-of-week { @apply grid grid-cols-7 gap-2; }
  .days-of-week > div { @apply text-center font-medium text-gray-500 py-2 text-lg; }
  .days-of-month { @apply grid grid-cols-7 gap-2; }
  .days-of-month

  .day { @apply relative aspect-square p-2 rounded-lg border-4 text-sm flex sm:items-start sm:justify-start items-center justify-center w-full h-full; }
  .day > div { @apply absolute inset-0 flex items-center justify-center invisible sm:visible; }

  .day.past { @apply  bg-gray-100 border-gray-200 text-gray-400; }
  .day.past-incompleted { @apply bg-red-100 border-red-200 text-red-700; }
  .day.past-completed { @apply bg-green-100 border-green-200 text-green-700 cursor-pointer; }
  .day.today { @apply bg-indigo-100 border-indigo-200 text-indigo-700 cursor-pointer; }
  .day.today-incompleted { @apply bg-indigo-100 border-indigo-200 text-indigo-700 cursor-pointer; }
  .day.today-completed { @apply bg-green-100 border-green-200 text-green-700 cursor-pointer; }
  .day.future { @apply bg-white border-gray-200 text-gray-700; }

  .day.today-completed > div { @apply text-green-200; }
  .day.today-incompleted > div { @apply text-indigo-200; }
  .day.past-incompleted > div { @apply text-red-200; }
  .day.past-completed > div { @apply text-green-200; }
  .day.future > div { @apply text-gray-700; }
  .day.past > div { @apply text-gray-400; }
  .day.today > div { @apply text-indigo-200; }
}

input, textarea {
  @apply min-w-32 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6;

  &:disabled { @apply bg-gray-100 text-gray-400; }
}

select {
  @apply col-start-1 row-start-1 w-full rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6
}

.card {
  @apply divide-y divide-gray-200 overflow-hidden rounded-lg bg-white ring-1 ring-gray-200 dark:divide-white/10 dark:bg-gray-800/50 dark:shadow-none dark:outline dark:-outline-offset-1 dark:outline-white/10;

  header { @apply px-4 py-5 sm:px-6; }
  section { @apply px-4 py-5 sm:p-6; }
  footer { @apply px-4 py-4 sm:px-6; }
}

.tabs {
  @apply mb-6;

  .mobile {
    @apply grid grid-cols-1 sm:hidden;
  }

  &, .desktop {
    @apply hidden sm:block;

    > div { @apply border-b border-gray-200 dark:border-white/10; }
    > div > nav { @apply -mb-px flex space-x-8; }
    > div > nav > a { @apply border-b-2 border-transparent px-1 py-4 text-sm font-medium whitespace-nowrap text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:text-gray-400 dark:hover:border-white/20 dark:hover:text-gray-200; }
    > div > nav > a.active { @apply border-indigo-500 dark:border-indigo-400 text-indigo-600 dark:text-indigo-400; }
  }
}

.scroll-shadows {
  position: relative;
}

.scroll-shadows-top::before {
  display: block;
  content: '';
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center top;
}

.scroll-shadows-bottom::after {
  display: block;
  content: '';
  position: sticky;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: radial-gradient(farthest-side at 50% 100%,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0)) center bottom;
}

.page {
  @apply flex flex-col gap-4 h-full;

  > header {
    @apply flex flex-row gap-2 justify-between;

    h1 { @apply text-2xl font-bold; }
  }

  > main { @apply flex-grow overflow-y-auto p-0.5; }
  > footer { @apply flex justify-center; }
}
