@import "tailwindcss";

.table-default {
  @apply overflow-auto;
  table { @apply min-w-full divide-y divide-gray-300; }

  thead {
    th { @apply px-3 py-3.5 text-left text-sm font-semibold text-gray-900; }
    th:first-child { @apply py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-0; }
    th:last-child { @apply relative py-3.5 pr-4 pl-3 sm:pr-0; }
  }

  tbody {
    @apply divide-y divide-gray-200;

    tr:hover { @apply bg-gray-100; }
    tr:last-child { @apply border-b-0; }
    tr:last-child td { @apply border-b-0; }
    td { @apply whitespace-nowrap py-4 pl-4 text-sm text-gray-900; }
    td:first-child { @apply py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0; }
    td:last-child { @apply py-4 pr-4 pl-3 text-right text-sm font-medium whitespace-nowrap sm:pr-0; }
    td.actions { @apply sticky right-0 bg-gray-200 py-4 px-4 sm:px-4 text-center; }
  }
}

.alert-info {
  @apply rounded-md bg-blue-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-blue-700; }
}

.alert-warning {
  @apply rounded-md bg-yellow-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-yellow-700; }
}

.alert-success {
  @apply rounded-md bg-green-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-green-700; }
}

.alert-danger {
  @apply rounded-md bg-red-50 p-4;
  > div { @apply flex; }
  > div > div { @apply ml-3 flex-1 md:flex md:justify-between; }
  > div > div > p { @apply text-sm text-red-700; }
}

.button {
  @apply bg-white font-semibold hover:bg-gray-50 px-2.5 py-1.5 ring-1 ring-gray-300 ring-inset rounded-md shadow-sm text-gray-900 text-sm;

  &.button-primary { @apply bg-blue-600 text-white; }
  &.button-danger { @apply bg-red-600 text-white; }
  &.button-transparent { @apply bg-transparent text-gray-900; }
}

input, textarea {
  @apply min-w-32 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6;
}

select {
  @apply col-start-1 row-start-1 w-full rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6
}
