<% if current_user.admin? %>
  <span class="relative">
    <button type="button" class="cursor-default relative flex min-w-0 items-center gap-2 rounded-lg py-1 px-2 -mx-2 text-left text-base/6 font-medium text-zinc-950 sm:text-sm/5 *:data-[slot=icon]:size-6 *:data-[slot=icon]:shrink-0 *:data-[slot=icon]:fill-zinc-500 sm:*:data-[slot=icon]:size-5 *:not-nth-2:last:data-[slot=icon]:ml-auto *:not-nth-2:last:data-[slot=icon]:size-5 sm:*:not-nth-2:last:data-[slot=icon]:size-4 *:data-[slot=avatar]:-m-0.5 *:data-[slot=avatar]:size-7 *:data-[slot=avatar]:[--avatar-radius:var(--radius-md)] sm:*:data-[slot=avatar]:size-6 data-hover:bg-zinc-950/5 data-hover:*:data-[slot=icon]:fill-zinc-950 data-active:bg-zinc-950/5 data-active:*:data-[slot=icon]:fill-zinc-950 dark:text-white dark:*:data-[slot=icon]:fill-zinc-400 dark:data-hover:bg-white/5 dark:data-hover:*:data-[slot=icon]:fill-white dark:data-active:bg-white/5 dark:data-active:*:data-[slot=icon]:fill-white hover:bg-gray-100 js-dropdown" data-for="logo-dropdown-container">
      <span class="truncate text-xl font-bold text-gray-600">Wunderkind</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
      </svg>
    </button>
  </span>
  <template id="logo-dropdown-container">
    <div class="absolute rounded-md bg-white border border-gray-200 shadow-md p-0 js-dropdown-container" role="menu">
      <ul>
        <li>
          <%= link_to "Приложение", root_path, class: "block py-2 px-4 hover:bg-gray-100" %>
        </li>
        <li>
          <%= link_to "Администрация", overseer_root_path, class: "block py-2 px-4 hover:bg-gray-100" %>
        </li>
      </ul>
    </div>
  </template>
<% else %>
  <%= link_to "Wunderkind", root_path, class: "text-xl font-bold text-gray-600" %>
<% end %>
